*{
    margin: 0;
    border: 0;
    padding: 0;
}

html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}

#calculator{
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 20px;
    overflow: hidden;
    background: url(bg5.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    /* box-shadow: 05px 10px 20px green; */
}

#display{
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.253);
    font-size: 40px;
    color: white;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 20px 05px;
    border-radius: 50px;
    text-align: right;
}

#display:active{
    background-color:  hsl(0, 0%, 60%);
    border: 1px solid hsl(0, 0%, 60%);
}

#keys{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(19, 14, 14);
    color: white;
    font-size: 25px;
    cursor: pointer; 
    font-weight: 300;   
    box-shadow: 05px 05px 15px black;
}

button:hover{
    background-color: hsl(0, 0%, 30%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.btn-opt{
     background-color: rgb(19, 14, 14);
     color: rgb(41, 194, 74);
     font-weight: 900;
}

p{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(13, 250, 33);
}